*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.container{
    width: 400px;
    height: 320px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding-top: 10px;
}

.tamaño{
    
    width: 300px;
}